@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />



<div class="container">

    <header>
        <h2><a href="#"><i class="ion-plane"></i> Zimmetim </a></h2>
        <nav>
            <ul>
                <li>
                    <a href="#" title="Eleman Ekle">Eleman Ekle</a>
                </li>
                <li>
                    <a href="#" title="Eşya Ekle">Eşya Ekle</a>
                </li>
                <li>
                    <a href="#" title="İlişkilendir">İlişkilendir</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="cover">
        <h1>Demirbaş Kayıt Sistemi</h1>
    </div>

</div>