@model SaveInventoryViewModel
@{
    ViewData["Title"] = "SaveInventory";
    Layout = null;
}

<!DOCTYPE html>


<link rel="stylesheet" href="~/css/PrivateCss.css" />

<div class="box">
    <form>
        <span class="text-center">Envanter Kaydı</span>
        <div class="input-container">
            <input asp-for="inventories.Name" required="" />
            <label>İsim</label>
        </div>
        <div class="input-container">
            <input asp-for="inventories.Status" required="" />
            <label>Durum</label>
        </div>
        <div class="input-container">
            <input asp-for="inventories.Cost" required="" />
            <label>Birim</label>
        </div>

        <button type="button" class="btn">submit</button>
    </form>
</div>