@model InventoryViewModel
@{
    ViewData["Title"] = "SaveInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="box">
    <form asp-controller="Inventory" asp-action="SaveInventory" method="post">
        <span class="text-center">Eleman Kaydı</span>
        <div class="input-container">
            <input asp-for="@Model.Name" required="" placeholder="Adı" />
            
        </div>
        <div class="input-container">
            <input asp-for="@Model.Status" required="" placeholder="Durum" />
            
        </div>
        <div class="input-container">
            <input asp-for="@Model.Cost" required="" placeholder="Değer" />
            
        </div>
       
        <button type="submit" class="btn">Kaydet</button>
        <button class="btn" href="/Home/Index">Ana Sayfa</button>
    </form>
</div>