@model InventoryViewModel
@{
    ViewData["Title"] = "SaveInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
        function showAlert() {
            alert("Eşya başarıyla eklandi");
        }
    </script>
}

<!DOCTYPE html>


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="box">



    <form asp-controller="Inventory" asp-action="SaveInventory" method="post">
        <h3>Eşya Ekle</h3>
        <div class="input-container">
            <input asp-for="@Model.Name" required="" placeholder="Adı" />

        </div>
        <div class="input-container">
            <input asp-for="@Model.Status" required="" placeholder="Durum" />

        </div>
        <div class="input-container">
            <input asp-for="@Model.Cost" required="" placeholder="Değer" />

        </div>

        <button type="submit" class="btn btn-success" onclick="showAlert();">Kaydet</button>
        <button type="submit" class="btn btn-primary" asp-action="SaveInventory2" onclick="showAlert();">Kaydet ve Geridön </button>
        <button class="btn btn-warning" asp-action="InventoryList">Vazgeç</button>
    </form>
</div>