@model InventoryViewModel
@{
    ViewData["Title"] = "UpdateInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="box">



    <form asp-controller="Inventory" asp-action="UpdateInventory" method="post">
        <h3>Eşya Güncelle</h3>
        <div class="input-container">
            <input asp-for="@Model.Name" required="" value="@Model.Name" placeholder="Adı" />

        </div>
        <div class="input-container">
            <input asp-for="@Model.Status" required="" placeholder="Durum" />

        </div>
        <div class="input-container">
            <input asp-for="@Model.Cost" required="" placeholder="Değer" />


        </div>

        @*<button type="submit" asp-action="SaveInventory" class="btn btn-success">Kaydet</button>*@
        <input type="submit" id="send" name="send" value="Kaydet" class="btn btn-primary" />
        <button class="btn btn-warning" asp-action="InventoryList">Vazgeç</button>
    </form>
</div>