@model SaveUserViewModel
@{
    ViewData["Title"] = "SaveUser";
    Layout = null;
}

<!DOCTYPE html>


<link rel="stylesheet" href="~/css/PrivateCss.css" />

<div class="box">
    <form>
        <span class="text-center">Eleman Kaydı</span>
        <div class="input-container">
            <input asp-for="users.FirstName" required="" />
            <label>İsim</label>
        </div>
        <div class="input-container">
            <input asp-for="users.LastName" required="" />
            <label>Soyisim</label>
        </div>
        <div class="input-container">
            <input asp-for="users.Department" required="" />
            <label>Birim</label>
        </div>
        <div class="input-container">
            <input asp-for="users.Mission" required="" />
            <label>Görev</label>
        </div>
        <button type="button" class="btn">submit</button>
    </form>	
</div>