@model SaveUserViewModel
@{
    ViewData["Title"] = "SaveUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h3 class="alert alert-success">Eleman Ekle</h3>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body>
    <form asp-controller="User" asp-action="SaveUser">
        Id : <input asp-for="users.Id" /> <br />
        İsim : <input asp-for="users.FirstName" /><br />
        Soyisim : <input asp-for="users.LastName" /><br />
        Görev : <input asp-for="users.Mission" /><br />
        Birim : <input asp-for="users.Department" /><br />

        <button type="submit">Kaydet</button>

    </form>
</body>