@model UserViewModel
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="box">



    <form asp-controller="User" asp-action="UserUpdate" method="post">
        <h3>Kullanıcı Güncelle</h3>
        <div class="input-container">
            <input asp-for="@Model.FirstName" required="" placeholder="Adı" />

        </div>
        <div class="input-container">
            <input asp-for="@Model.LastName" required="" placeholder="Soyadı" />

        </div>
        <div class="input-container">
            <input asp-for="@Model.Department" required="" placeholder="Bölümü" />
        </div>
        <div class="input-container">
            <input asp-for="@Model.Mission" required="" placeholder="Görevi" />
        </div>
       

        <button type="submit" asp-action="SaveUser" class="btn btn-success" onclick="showAlert();">Kaydet</button>
        <button type="submit"  class="btn btn-primary" onclick="showAlert();">Kaydet ve GeriDön</button>
        <button class="btn btn-warning" asp-action="UserList" >Vazgeç</button>
    </form>
</div>